@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: auto;
  background-color: rgb(25, 32, 65, 0.1);
}

p {
  font-size: 14px;
  color: rgb(25, 32, 65);
}

h1 {
  color: white;
  font-size: 40px;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 00;
  margin: 10px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 100;
  color: rgb(25, 32, 65);
}

h3 {
  font-size: 16px;
  color: rgb(25, 32, 65, 0.6);
  margin-top: 30px;
  margin-bottom: 0px;
}

button {
  background-color: goldenrod;
  color: white;
  border: none;
  padding: 5px 15px;
}

a {
  color: white;
  text-decoration: none;
}

button:hover {
  border-bottom: 3px solid rgb(25, 32, 65);
}